{% extends 'normal_base.html'%}
{% load crispy_forms_tags %}
<!--Title-->
{% block title %} User-Page {% endblock %}

{% block content %}
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
        </nav>


<section class="section dashboard">
    <div class="row">

      <div class="col-lg-12">
        <div class="row">

          <div class="col-xxl-4 col-md-4">
            <div class="card info-card sales-card">
              <a href="{% url 'queue_display' %}"><div class="card-body">
                <h5 class="card-title">Interview 1</h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-people-fill"></i>
                  </div>
                  <div class="ps-3">
                    <h6>15</h6>
                    <span class="text-success small pt-1 fw-bold">Panel</span> <span class="text-muted small pt-2 ps-1">March 20,2023</span>

                  </div>
                </div>
              </div></a>

            </div>
          </div>


          <div class="col-xxl-4 col-md-4">
            <div class="card info-card sales-card">
              <div class="card-body">
                <h5 class="card-title">Interview 2</h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-people-fill"></i>
                  </div>
                  <div class="ps-3">
                    <h6>15</h6>
                    <span class="text-success small pt-1 fw-bold">Panel</span> <span class="text-muted small pt-2 ps-1">March 20,2023</span>

                  </div>
                </div>
              </div>

            </div>
          </div>


        </div>
     </div>


    </div>
  </section>
  </main>



{% endblock %}