{% extends 'normal_base.html'%}
{% load crispy_forms_tags %}
<!--Title-->
{% block title %} User-Page {% endblock %}

{% block content %}
<main id="main" class="main">
   
    
<section class="section dashboard">
  
        <div class="row">

          <div class="col-xxl-3 col-md-3">

        <div class="container">
            <div class="card text-center">
                <div class="card-header  d-flex justify-content-center">
                    <h5 class="col-md-3 pr-2">Panel 1</h5>
                    
                </div>
                <div class="card-body" style="width: 60%;">
                    <ul>
                        <li>23KJ12571</li>
                        <li>23KJ12572</li>
                        <li>23KJ12573</li>
                        <li>23KJ12574</li>
                        <li>23KJ12577</li>
                        <li>23KJ12576</li>
                        <li>23KJ12578</li>
                        <li>23KJ12577</li>
                        <li>23KJ12579</li>
                        <li>23KJ12510</li>
                        <li>23KJ12511</li>
                        <li>23KJ12523</li>                      
                    </ul>
                   
                </div>
            </div>
        </div>
        </div>
      </div>
   
</section>
        

</main>





{% endblock %}