{% extends 'admin_base.html'%}
{% load crispy_forms_tags %}
<!--Title-->
{% block title %} Report-Page {% endblock %}
<!-- end title -->

{% block content %}
<style>
  span {
    font-weight: 600;
    font-size: 0.9em;
  }

</style>
<main id="main" class="main">


    <div class="card">
        <div class="card-body ">
          <!-- <h5 class="card-title d flex justify-content-end">Acttions</h5> -->
          <div class="float-end">
          <a href="{% url 'get_remarks' %} " ><button type="button" class="btn btn-primary"><i class="bi bi-file-earmark-arrow-down-fill"></i> Remarks Download</button></a>
          <a href="{% url 'get_student_not_found' %} " ><button type="button" class="btn btn-secondary"><i class="bi bi-collection"></i> Student Not Found</button></a>
          <button type="button" class="btn btn-success"><i class="fa fa-download"></i>Export</button>
          
        </div>
        </div>
      </div>

    <section class="section">
        <div class="row">
          <div class="col-lg-12">
  
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Report</h5>
  
                <!-- Default Table -->
                <table id="table_data" class="table table-striped w-100" style="width:100%">
                    <thead>
                        <tr>
                            <th>Reg no</th>
                            <th>Interview id</th>
                            <th>Details</th>
                            <th>Marks %</th>
                            <th>Remark1</th>
                            <th>Remark2</th>
                            <th>Selection Status</th>
                            <th>Course Alloted</th>
                            <th>Reviewer</th>
                            <!-- <th>Result</th> -->
                            <!-- <th>Selection status</th> status, course allotted, take a copy of this html -->
                        </tr>
                    </thead>
        
                    <tbody>
                      {% for student, remarks in remark_dict.items %}
                      <tr>
                        <td>{{ student.application_number }}</td>

                        <td>{{ student.interview_id }}</td>

                        <td>{{ student.applied_program }}<br><br>&#13;&#10;&#13;&#10;{{ student.first_name }} {% if student.middle_name %}{{ student.middle_name }}{% endif %} {% if student.last_name %}{{ student.last_name }}{% endif %} <br><br><span>&#13;&#10;&#13;&#10;DoB:</span> {{ student.dob }} <br><span>&#13;&#10;StateOfBoard:</span> {{ student.state_of_board }} <br><span>&#13;&#10;Nationality:</span> {{ student.nationality }} <br></td>

                        <td><span>X :</span> {{ student.tenth_percentage }}% ({{ student.tenth_year }})<br><span>&#13;&#10;XII :</span> {% if not student.course_category == 'PG' %} {{ student.aggregrate_percentage_including_language_for_UG }} {% else %} {{ student.twelfth_percentage }} {% endif %}% ({% if not student.course_category == 'PG' %} {{ student.year_of_passing }} {% else %} {{ student.twelfth_year }} {% endif %})<br><span>&#13;&#10;UG :</span> {% if student.course_category == 'PG' %}{{ student.aggregrate_percentage_including_language_for_PG }}{% endif %}% ({% if student.course_category == 'PG' %}{{ student.year_of_passing }}{% endif %})<br><br>&#13;&#10;&#13;&#10; {{student.result_status}}<br><br><span>&#13;&#10;&#13;&#10;Previous Institution:</span> {{ student.name_of_institution }}</td>

                        {% for remark in remarks %}
                          <td><span>Reviewer ID:</span> {{remark.reviewer_id}} <br> <span>&#13;&#10;Mode of Education:</span> {{remark.mode_of_education}}<br><span>&#13;&#10;Sec. Lang.:</span> {{remark.second_language}}<br><span>&#13;&#10;Cocurricular activities:</span> {{remark.cocurricular_activities}}<br><span>&#13;&#10;Subject Knowledge:</span> {{remark.subject_knowledge}}<br><span>&#13;&#10;Attitude:</span> {{remark.attitude}}<br><span>&#13;&#10;Communication:</span> {{remark.communication}}<br><br><span>&#13;&#10;&#13;&#10;Remark:</span> {{remark.remarks}}<br><span>&#13;&#10;Notes for admission office:</span> {{remark.notes_for_admission_office}}<br><br><span>&#13;&#10;&#13;&#10;Interview score:</span> {{remark.interview_score}}<br><span>&#13;&#10;Activity score:</span> {{remark.activity_score}}</td>
                        {% endfor %}
                        {% if remarks|length < 2%}
                          <td></td>
                        {% endif %}

                        <td>{{ student.selection_status }}</td>
                        <td>{{ student.course_allotted }}</td>
                        <td>{{ student.reviewer }}</td>
                        <!-- <td><span>Selection Status : </span>{{ student.selection_status }}<br>  
                            <span>&#13;&#10;&#13;&#10;Course Alloted : </span>{{ student.course_allotted }}<br>
                            <span>&#13;&#10;&#13;&#10;Reviewer : </span>{{ student.reviewer }}
                        </td> -->
                      </tr>
                      {% endfor %}
                    </tbody>
                    </table>
                <!-- End Default Table Example -->
              </div>
            </div>
  
         
  
          </div>
  
          
        </div>
      </section>





</main>    
<script src="https://code.jquery.com/jquery-3.5.1.js"></script> 
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script> 
<script src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script> 
<script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.html5.min.js"></script> 
<script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.print.min.js"></script> 

<link rel="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
<link rel="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css">


{% endblock %}